<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd
	   					   http://www.springframework.org/schema/tx
	   					   http://www.springframework.org/schema/tx/spring-tx.xsd
	   					   http://www.springframework.org/schema/context
	   					   http://www.springframework.org/schema/context/spring-context.xsd
	   					   http://www.springframework.org/schema/aop
	   					   http://www.springframework.org/schema/aop/spring-aop.xsd">

	<context:component-scan base-package="dessert" />

	<import resource="spring-hibernate.xml" />

	<!-- controller -->
	<bean id="testController" class="dessert.controller.html.TestController"
		scope="prototype" />
	<bean id="testJsonController" class="dessert.controller.api.TestJsonController" />
	<bean id="signUpJsonController" class="dessert.controller.api.SignUpJsonController" />
	<bean id="shopController" class="dessert.controller.html.ShopController" />
	<bean id="shopJsonController" class="dessert.controller.api.ShopJsonController" />
	<bean id="loginJsonController" class="dessert.controller.api.LoginJsonController" />
	<bean id="waitressController" class="dessert.controller.html.WaitressController" />
	<bean id="waitressJsonController" class="dessert.controller.api.WaitressJsonController" />
	<bean id="zDShopController" class="dessert.controller.html.ZDShopController" />
	<bean id="planController" class="dessert.controller.html.PlanController" />
	<bean id="planJsonController" class="dessert.controller.api.PlanJsonController" />
	<bean id="managerShopController" class="dessert.controller.html.ManagerShopController" />

	<!-- service -->
	<bean id="testService" class="dessert.service.impl.TestServiceImpl" />
	<bean id="memberService" class="dessert.service.impl.MemberServiceImpl" />
	<bean id="shopService" class="dessert.service.impl.ShopServiceImpl" />
	<bean id="loginService" class="dessert.service.impl.LoginServiceImpl" />
	<bean id="workerService" class="dessert.service.impl.WorkerServiceImpl" />
	<bean id="planService" class="dessert.service.impl.PlanServiceImpl" />
	<bean id="dessertService" class="dessert.service.impl.DessertServiceImpl" />

	<!-- dao -->
	<bean id="testDao" class="dessert.dao.impl.TestDaoImpl" />
	<bean id="memberDao" class="dessert.dao.impl.MemberDaoImpl" />
	<bean id="shopDao" class="dessert.dao.impl.ShopDaoImpl" />
	<bean id="workerDao" class="dessert.dao.impl.WorkerDaoImpl" />
	<bean id="loginDao" class="dessert.dao.impl.LoginDaoImpl" />
	<bean id="planDao" class="dessert.dao.impl.PlanDaoImpl" />
	<bean id="planDetailDao" class="dessert.dao.impl.PlanDetailDaoImpl" />
	<bean id="dessertDao" class="dessert.dao.impl.DessertDaoImpl" />
</beans>